<div class="container m-auto mt-5 col-md-4 row g-3" style="background-color:#dddd">
  <h1 class="d-flex justify-content-center">Account Login</h1>
  <form method="POST" action="/login">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control {{emailInvalid.invalid}}" name="email" id="email"
        aria-describedby="emailHelp" value="{{email}}">
      {{{emailInvalid.emailInvalidMessage}}}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control {{passwordInvalid.invalid}}" name="password" id="password">
      {{{passwordInvalid.passwordInvalidMessage}}}
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
</div>